<div class="topline">
    <div class="header">
        <div class="headBox">
            <ul class="menus">
                <li><a href="/">首页</a></li>
                <li><a href="/list?catalog=电影">电影</a></li>
                <li><a href="/list?catalog=电视剧">电视剧</a></li>
                <li><a href="/list?catalog=动画片">动画片</a></li>
                <li><a href="/news">资讯</a></li>
            </ul>
            <div class="load">
                <ul>
                    <li><a><i class="iconfont icon-weixin"></i></a></li>
                    <li><a><i class="iconfont icon-QQ"></i></a></li>
                    <li><a href="liuyan"><a><i class="iconfont icon-liuyan"></i></a></li>
                </ul>
                <div class="fadeBox">

                </div>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="serachBox">
            <input id="searchVal" placeholder="影片名/明星/导演" value="" />
            <i id="searchGo" class="iconfont icon-sousuo"></i>
        </div>
        <div class="rank">
            <i class="iconfont icon-paixing"></i>
            <span>排行榜</span>
        </div>
    </div>
    <div className="navs">
        <ul className="nav">
            <li><a href="/list?catalog=动作片">动作片</a></li>
            <li><a href="/list?catalog=喜剧片">喜剧片</a></li>
            <li><a href="/list?catalog=爱情片">爱情片</a></li>
            <li><a href="/list?catalog=科幻片">科幻片</a></li>
            <li><a href="/list?catalog=恐怖片">恐怖片</a></li>
            <li><a href="/list?catalog=剧情片">剧情片</a></li>
            <li><a href="/list?catalog=战争片">战争片</a></li>
            <li><a href="/list?catalog=国产剧">国产剧</a></li>
            <li><a href="/list?catalog=港台剧">TVB剧</a></li>
            <li><a href="/list?catalog=欧美剧">欧美剧</a></li>
            <li><a href="/list?catalog=日韩剧&area=日本">日本剧</a></li>
            <li><a href="/list?catalog=日韩剧&area=韩国">韩国剧</a></li>
        </ul>
        <ul className="subnav"></ul>
    </div>
</div>